[submodule "third_party/capcompute"]
	path = third_party/capcompute
	url = https://github.com/aurora-capcompute/capcompute.git
[submodule "third_party/aurora-capcompute"]
	path = third_party/aurora-capcompute
	url = https://github.com/aurora-capcompute/aurora.git
[submodule "third_party/aurora-dispatchers"]
	path = third_party/aurora-dispatchers
	url = https://github.com/aurora-capcompute/aurora-dispatchers.git
[submodule "third_party/aurora-dispatchers-k8s"]
	path = third_party/aurora-dispatchers-k8s
	url = https://github.com/aurora-capcompute/aurora-dispatchers-k8s.git
[submodule "third_party/aurora-dispatchers-helm"]
	path = third_party/aurora-dispatchers-helm
	url = https://github.com/aurora-capcompute/aurora-dispatchers-helm.git
[submodule "third_party/aurora-dispatchers-llm"]
	path = third_party/aurora-dispatchers-llm
	url = https://github.com/aurora-capcompute/aurora-dispatchers-llm.git
[submodule "third_party/aurora-stores"]
	path = third_party/aurora-stores
	url = https://github.com/aurora-capcompute/aurora-stores.git
